doctype
html(lang="ru_RU")
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, minimal-ui')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='imagetoolbar' content='no')
		meta(name='msthemecompatible' content='no')
		meta(name='cleartype' content='on')
		meta(name='HandheldFriendly' content='True')
		meta(name='google' value='notranslate')
		meta(name='description' content='')
		meta(name='keywords' content='')

		//- link(rel='shortcut icon' type='image/png' href='img/favicon.ico')
		link(rel='stylesheet' type='text/css' href='css/style.css' media='screen, projection, print')
		link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&amp;subset=cyrillic" rel="stylesheet")
		

		block title
			title CRM агентство мультиканальной b2c коммуникации