.lab{
    &__title{
        margin-bottom: 45px;
        color: #181818;
        margin-top: 45px;
    }
    &-wrapper{
        padding-left: 24px;
        padding-bottom: 20px;
    }
    &-item{
        position: relative;
        margin-bottom: 60px;
        border: solid 1px #e7e7e7;
        &__img{
            background: tomato;
            min-height: 280px;
            width: 100%;
            margin-bottom: 25px;
        }
        &__subject{
            font-size: 12px;
            font-weight: bold;
            line-height: 1.33;
            letter-spacing: 2px;
            text-align: left;
            color: #a96fdc;
            margin-bottom: 14px;
        }
        &__title{
            font-size: 18px;
            line-height: 1.33;
            text-align: left;
            color: #000000;
            margin-bottom: 38px;
            display: inline-block;
            &:hover{
                text-decoration: none;
                color: #000000;
            }
        }
        &__text{
            font-size: 16px;
            line-height: 1.5;
            text-align: left;
            color: #828181;
            margin-bottom: 15px;
        }
        &__date{
            font-size: 14px;
            line-height: 1.14;
            text-align: left;
            color: #828181;
        }
    }
    &-inner{
        &__article{
            position: relative;
            border-bottom: 1px solid #a9a9a9;
            &-bottom{
                padding: 50px 0 30px 0;
                @include clearfix;
                position: relative;
                width: 100%;
                display: flex;
                &-item{
                    position: relative;
                    margin-bottom: 20px;
                    &__img{
                        width: 100%;
                        height: 153px;
                        margin-bottom: 17px;
                        background: red;
                    }
                    &__subject{
                        font-size: 12px;
                        font-weight: bold;
                        line-height: 1.33;
                        letter-spacing: 2px;
                        text-align: left;
                        color: #a96fdc;
                        text-transform: uppercase;
                        margin-bottom: 8px;
                    }
                    &__text{
                        font-size: 16px;
                        line-height: 1.5;
                        text-align: left;
                        color: #000000;
                    }
                }
            }
            &-text{
                font-size: 16px;
                line-height: 1.75;
                text-align: left;
                color: #181818;
                margin-bottom: 30px;
            }
            &-subtitle{
                font-size: 16px;
                line-height: 1.75;
                text-align: left;
                color: #181818;
                font-weight: bold;
                margin-bottom: 30px;
            }
            &-img{
                width: 700px;
                height: 469px;
                background: blue;
                display: block;
                margin: 0 auto;
                &__text{
                    font-size: 12px;
                    text-align: left;
                    color: #a9a9a9;
                    margin-left: 115px;
                    margin-top: 12px;
                    margin-bottom: 42px;
                }
            }
            &-link{
                &__back{
                    font-size: 16px;
                    text-align: left;
                    color: #a96fdc;
                    padding-left: 26px;
                    position: relative;
                    display: inline-block;
                    margin-bottom: 50px;
                    &:hover{
                        color: #a96fdc;
                        text-decoration: none;
                    }
                    &:before{
                        content: "";
                        display: block;
                        width: 20px;
                        height: 20px;
                        fill:#a9a9a9;
                        background: url(../img/svg-icons/arrow-back.svg)no-repeat;
                        position: absolute;
                        left: 0;
                        top: 5px;
                    }
                }
            }
        }
        &__important{
            font-size: 18px;
            font-weight: bold;
            line-height: 1.56;
            text-align: center;
            color: #181818;
            padding: 40px 0;
            // border-top: 1px solid #a9a9a9;
            border-bottom: 1px solid #a9a9a9;
            position: relative;
            margin-bottom: 40px;
            &:before{
                content: "";
                display: block;
                width: 30px;
                height: 30px;
                background: #a96fdc;
                margin: 0 auto;
                position: absolute;
                top: -15px;
                left: 0;
                right: 0;
            }
        }
    }
}

.pagination{
    position: relative;
    &__list{
        list-style-type: none;
        font-size: 0;
        @include clearfix;
    }
    &__item{
        display: inline-block;
        border: solid 1px #e7e7e7;
        height: 46px;
        border-right: none;
        // &-active{
        //     background: #000000;
        // }
        &:last-child{
            border-right: 1px solid #e7e7e7;
        }
    }
    &__link{
        font-size: 16px;
        line-height: 46px;
        text-align: center;
        color: #181818;
        padding: 0 17px;
        display: block;
        float: left;
        &-active{
            color: #ffffff !important;
            background: #000000;
        }
        &:hover{
            color: #ffffff;
            text-decoration: none;
            background: #000000;
        }
    }
}