include blocks/head-service/head
include common/mixins
include common/js


body
	.layout_center_wrapper-project
		.header-wrapper
			+top-line()
			main.header-main
				.header-main-bg
					img(src="img/header-logo-bg.svg", alt="")
				.container-fluid
					.row
						.offset-xl-1.offset-lg-1.col-xl-5.col-lg-5.col-md-6.col-sm-12.col-12
							h1.header__title
							//- 	|CRM агентство мультиканальной
							//- 	br
							//- 	|b2c коммуникации
							.header__wrap__btn.wow.slideInLeft(data-wow-delay="3s")
								a(href="#", class="header__btn") О нашей работе
			section.main-slider
				.container-fluid
					.row
						#owl-main-slider.owl-carousel
							div.owl-carousel__inner
								img(src="img/company-logos/logo-1-1.png", alt="", width="169px", height="78px", class="main-slider__img")
							div.owl-carousel__inner
								img(src="img/company-logos/logo-2-2.png", alt="", width="169px", height="78px", class="main-slider__img")
							div.owl-carousel__inner
								img(src="img/company-logos/logo-3-3.png", alt="", width="169px", height="78px", class="main-slider__img")
							div.owl-carousel__inner
								img(src="img/company-logos/logo-4-4.png", alt="", width="169px", height="78px", class="main-slider__img")
							div.owl-carousel__inner
								img(src="img/company-logos/logo-5-5.png", alt="", width="169px", height="78px", class="main-slider__img")
							div.owl-carousel__inner
								img(src="img/company-logos/logo-6-6.png", alt="", width="169px", height="78px", class="main-slider__img")
							div.owl-carousel__inner
								img(src="img/company-logos/logo-7-7.png", alt="", width="169px", height="78px", class="main-slider__img")
							div.owl-carousel__inner
								img(src="img/company-logos/logo-8-8.png", alt="", width="169px", height="78px", class="main-slider__img")
							div.owl-carousel__inner
								img(src="img/company-logos/logo-9-9.png", alt="", width="169px", height="78px", class="main-slider__img")
		section.tabbed-section.wow.slideInUp(data-wow-delay="1s")
			.container-fluid
				.row
					.col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12.tabbed-p-0
						.tabbed
							input#tab-nav-1(type='radio', name='tabs', checked='')
							label(for='tab-nav-1') Стратегия
							input#tab-nav-2(type='radio', name='tabs')
							label(for='tab-nav-2') Коммуникация
							input#tab-nav-3(type='radio', name='tabs')
							label(for='tab-nav-3') Производство
							input#tab-nav-4(type='radio', name='tabs')
							label(for='tab-nav-4') Проекты
							input#tab-nav-5(type='radio', name='tabs')
							label(for='tab-nav-5') Мобайл
							.tabs
								.tabs__item.tabs__item-one.wow.slideInUp(data-wow-delay="1s")
									.offset-xl-1.offset-lg-1.col-xl-5.col-lg-5.col-md-6.col-sm-6.col-12
										.tabs__item__wrap
											h2.tabs__item__title Стратегия
											p.tabs__item__text
												| Предоставляем консалтинговые, стратегические  и исследовательские работы по CRM-маркетингу с глубокой аналитической составляющей. Проводим подробное исследование конкурентов, выявляем новые тренды и используем их в управлении отношениями с клиентами. 
									.tabs__item__picture
										img(src="img/tabs-bg/strateg-illustration-1.svg", alt="")
									.tabs__item__point
										ul.tabs__item__point-list
											li.tabs__item__point-list__item.tabs__item__point-list__item--active 01
											li.tabs__item__point-list__item 02
											li.tabs__item__point-list__item 03
											li.tabs__item__point-list__item 04
											li.tabs__item__point-list__item 05
								.tabs__item.tabs__item-two.animated.slideInUp
									.offset-xl-1.offset-lg-1.col-xl-5.col-lg-5.col-md-7.col-sm-7.col-12
										.tabs__item__wrap
											h2.tabs__item__title Мультиканальная коммуникация
											p.tabs__item__text
												| Внедряем системы персонального общения с клиентами. Подбираем релевантные каналы. Не навязываем дорогие инструменты без необходимости. Улучшаем результаты с помощью технологий машинного обучения, подбора персональных рекомендаций и отслеживания жизненного цикла клиента.
									.tabs__item__picture
										img(src="img/tabs-bg/strateg-illustration-2.svg", alt="")
									.tabs__item__point
										ul.tabs__item__point-list
											li.tabs__item__point-list__item 01
											li.tabs__item__point-list__item.tabs__item__point-list__item--active 02
											li.tabs__item__point-list__item 03
											li.tabs__item__point-list__item 04
											li.tabs__item__point-list__item 05
								.tabs__item.tabs__item-three.animated.slideInUp
									.offset-xl-1.offset-lg-1.col-xl-5.col-lg-5.col-md-7.col-sm-7.col-12
										.tabs__item__wrap
											h2.tabs__item__title Производство полного цикла
											p.tabs__item__text
												| Изучаем ваш бизнес и пишем сценарии коммуникации с пользователями по подходящим каналам и в нужное время. Превращаем потенциальных покупателей в реальных, а тех, кто уже что-то приобрёл, стимулируем делать повторные покупки. Всю рутинную работу мы берём на себя, гарантируя оперативность в качественном решении задач.
									.tabs__item__picture
										img(src="img/tabs-bg/strateg-illustration-3.svg", alt="")
									.tabs__item__point
										ul.tabs__item__point-list
											li.tabs__item__point-list__item 01
											li.tabs__item__point-list__item 02
											li.tabs__item__point-list__item.tabs__item__point-list__item--active 03
											li.tabs__item__point-list__item 04
											li.tabs__item__point-list__item 05
								.tabs__item.tabs__item-four.animated.slideInUp
									.offset-xl-1.offset-lg-1.col-xl-5.col-lg-5.col-md-7.col-sm-7.col-12
										.tabs__item__wrap
											h2.tabs__item__title Проектные работы
											p.tabs__item__text
												| Изучаем ваш бизнес и пишем сценарии коммуникации с пользователями по подходящим каналам и в нужное время. Превращаем потенциальных покупателей в реальных, а тех, кто уже что-то приобрёл, стимулируем делать повторные покупки. Всю рутинную работу мы берём на себя, гарантируя оперативность в качественном решении задач. 
									.tabs__item__picture
										img(src="img/tabs-bg/strateg-illustration-5.svg", alt="")
									.tabs__item__point
										ul.tabs__item__point-list
											li.tabs__item__point-list__item 01
											li.tabs__item__point-list__item 02
											li.tabs__item__point-list__item 03
											li.tabs__item__point-list__item.tabs__item__point-list__item--active 04
											li.tabs__item__point-list__item 05
								.tabs__item.tabs__item-five.animated.slideInUp
									.offset-xl-1.offset-lg-1.col-xl-5.col-lg-5.col-md-7.col-sm-7.col-12
										.tabs__item__wrap
											h2.tabs__item__title Мобайл
											p.tabs__item__text
												| Выстраиваем индивидуальные цепочки коммуникации, сопровождая его от установки и первого использования до роста и возврата
											ul.tabs__item__list
												li.tabs__item__list-item &#8212; Сопровождение и интеграция push-сервисов
												li.tabs__item__list-item &#8212; Ведение кампаний push-сообщений
												li.tabs__item__list-item &#8212; Управление рекламы в FB / Google в связке с реакцией на рассылки
												li.tabs__item__list-item &#8212; Автоматические диалоги в FB c дальнейшей коммуникацией по другим каналам
									.tabs__item__picture
										img(src="img/tabs-bg/strateg-illustration-4.svg", alt="")
									.tabs__item__point
										ul.tabs__item__point-list
											li.tabs__item__point-list__item 01
											li.tabs__item__point-list__item 02
											li.tabs__item__point-list__item 03
											li.tabs__item__point-list__item 04
											li.tabs__item__point-list__item.tabs__item__point-list__item--active 05							
		section.case-section.b-section-main.wow.slideInUp(data-wow-delay="1s")
			img(src="img/parallax-element-1.svg", alt="", class="parallax-element-1", data-enllax-ratio=".5", data-enllax-type="foreground")
			.container-fluid
				.row
					.offset-xl-1.col-12
						h2.b__title.case__title
							|Кейсы
				.row
					.offset-xl-1.col-xl-3.col-lg-3.col-md-4.col-sm-4.col-12
						a(href="#", target="_blank", class="case__link")
							.case-item.case-item__one
								span.case__text Utair
								.case__download
									img(src="img/svg-icons/case-download.svg", alt="")
					.col-xl-3.col-lg-3.col-md-3.col-sm-12.col-12.hidden-sm-down.hidden-md-down
						a(href="#", target="_blank", class="case__link")
							.case-item.case-item__two
								span.case__text MrDoors
								.case__download
									img(src="img/svg-icons/case-download.svg", alt="")
					.col-xl-3.col-lg-3.col-md-4.col-sm-4.col-12
						a(href="#", target="_blank", class="case__link")
							.case-item.case-item__three
								span.case__text М.Видео
								.case__download
									img(src="img/svg-icons/case-download.svg", alt="")
					.col-xl-2.col-lg-2.col-md-4.col-sm-4.col-12
						a(href="case.html", target="_blank", class="case__link")
							.case-item.case-item__more
								.case__text-more__icon
									img(src="img/svg-icons/case-more-icon.svg", alt="")
								span.case__text-more Больше кейсов
		section.write-section.b-section-main.wow.slideInUp(data-wow-delay="1s")
			img(src="img/parallax-element-2.svg", alt="", class="parallax-element-2", data-enllax-ratio=".5", data-enllax-type="foreground")
			.container-fluid
				.row
					.offset-xl-1.col-12
						h2.b__title.write__title
							|Напишите нам
				.row
					.offset-xl-1.col-12
						form(action="/", class="write-form")
							.row
								.col-xl-3.col-lg-3.col-md-4.col-sm-4.col-12
									input(type="text", class="write-form__input", required, placeholder="Ваше имя")
								.col-xl-3.col-lg-3.col-md-4.col-sm-4.col-12
									input(type="number", class="write-form__input", required, placeholder="Телефон")
								.col-xl-3.col-lg-3.col-md-4.col-sm-4.col-12
									input(type="email", class="write-form__input", required, placeholder="Почта")
							.row
								.col-xl-2.col-lg-2.col-md-4.col-sm-6.col-12
									input(type="submit", class="write-form__btn", value="Отправить")

	+footer-text()


	include blocks/footer-service/footer-service
