include blocks/head-service/head
include common/mixins
include common/js


body
	.layout_center_wrapper-project-case#layout_center_wrapper-project-case
		header.mvideo-header
			.mvideo-header-mask
			+top-line-mvideo()
			.mvideo__title__block
				.mvideo__title.wow.fadeInDown(data-wow-delay="2s")
					|Кейс по клиенту
				.mvideo__logo.wow.fadeInDown(data-wow-delay="1s")
					img(src="img/mvideo-case/mvideo-logo.png", alt="mvideo", width="350px", height="202px")
			.mvideo-header__mouse
		section.mvideo-b-section.mvideo-section__client
			.mvideo-section-arrow.wow.fadeInDown(data-wow-offset="200")
			.container
				.row
					.col-xl-4.col-lg-4.col-md-4.col-sm-5.col-12
						h2.mvideo-b__title.mvideo-b__title-black.wow.fadeInDown(data-wow-delay="1s" data-wow-offset="100")
							|О клиенте
					.col-xl-8.col-lg-8.col-md-8.col-sm-7.col-12
						p.mvideo-b__text.mvideo-b__text-black.mvideo__text-client.wow.fadeInDown(data-wow-delay="1s" data-wow-offset="100")
							|«М.Видео» - крупнейшая розничная сеть по объемам продаж электроники и бытовой техники в России. «М.Видео» осуществляет свою деятельность с 1993 года. По состоянию на 30 июня 2016 г. сеть «М.Видео» включает 382 магазина в 162 городах Российской Федерации. Торговая площадь магазинов «М.Видео» составляет 649 тыс. м кв., общая площадь – 872 тыс. м кв.
				.row
					.col-xl-4.col-lg-4.col-md-4.col-sm-4.col-12
						.mvideo-client__item
							.mvideo-client__img
								img(src="img/mvideo-case/mvideo-client-icon1.png", alt="icon", class="mvideo-client__img-picture mvideo-client__img-picture-1 wow bounceIn" data-wow-delay=".2s" data-wow-offset="200")
								img(src="img/mvideo-case/mvideo-client-icon2.png", alt="icon", class="mvideo-client__img-picture mvideo-client__img-picture-2 wow bounceIn" data-wow-delay=".4s" data-wow-offset="200")
								img(src="img/mvideo-case/mvideo-client-icon3.png", alt="icon", class="mvideo-client__img-picture mvideo-client__img-picture-3 wow bounceIn" data-wow-delay=".6s" data-wow-offset="200")
								img(src="img/mvideo-case/mvideo-client-icon4.png", alt="icon", class="mvideo-client__img-picture mvideo-client__img-picture-4 wow bounceIn" data-wow-delay=".8s" data-wow-offset="200")
							.mvideo-client__text.wow.fadeInDown(data-wow-delay="1s" data-wow-offset="200")
								|До 
								span 1 000 000
								br
								|отправляется писем в месяц
					.col-xl-4.col-lg-4.col-md-4.col-sm-4.col-12
						.mvideo-client__item
							.mvideo-client__img
								img(src="img/mvideo-case/mvideo-client-icon1.png", alt="icon", class="mvideo-client__img-picture mvideo-client__img-picture-1 wow bounceIn" data-wow-delay="1s" data-wow-offset="200")
								img(src="img/mvideo-case/mvideo-client-icon2.png", alt="icon", class="mvideo-client__img-picture mvideo-client__img-picture-2 wow bounceIn" data-wow-delay="1.2s" data-wow-offset="200")
								img(src="img/mvideo-case/mvideo-client-icon3.png", alt="icon", class="mvideo-client__img-picture mvideo-client__img-picture-3 wow bounceIn" data-wow-delay="1.4s" data-wow-offset="200")
								img(src="img/mvideo-case/mvideo-client-icon4.png", alt="icon", class="mvideo-client__img-picture mvideo-client__img-picture-4 wow bounceIn" data-wow-delay="1.6s" data-wow-offset="200")
							.mvideo-client__text.wow.fadeInDown(data-wow-delay="1.5s" data-wow-offset="200")
								|До 
								span 1 000 000 000
								br
								|отправляется писем в месяц
					.col-xl-4.col-lg-4.col-md-4.col-sm-4.col-12
						.mvideo-client__item
							.mvideo-client__img
								img(src="img/mvideo-case/mvideo-client-icon1.png", alt="icon", class="mvideo-client__img-picture mvideo-client__img-picture-1 wow bounceIn" data-wow-delay="1.8s" data-wow-offset="200")
								img(src="img/mvideo-case/mvideo-client-icon2.png", alt="icon", class="mvideo-client__img-picture mvideo-client__img-picture-2 wow bounceIn" data-wow-delay="2s" data-wow-offset="200")
								img(src="img/mvideo-case/mvideo-client-icon3.png", alt="icon", class="mvideo-client__img-picture mvideo-client__img-picture-3 wow bounceIn" data-wow-delay="2.2s" data-wow-offset="200")
								img(src="img/mvideo-case/mvideo-client-icon4.png", alt="icon", class="mvideo-client__img-picture mvideo-client__img-picture-4 wow bounceIn" data-wow-delay="2.4s" data-wow-offset="200")
							.mvideo-client__text.wow.fadeInDown(data-wow-delay="2s" data-wow-offset="200")
								|Более 
								span 100
								br
								|активных цепочек автоматизации
		
		section.mvideo-b-section.mvideo-section__original-task
			.container
				.row
					.col-xl-4.col-lg-4.col-md-5.col-sm-5.col-12
						h2.mvideo-b__title.mvideo-b__title-white.wow.fadeInDown(data-wow-delay="1s")
							|Изначальная
							br
							|задача
					.col-xl-8.col-lg-6.col-md-7.col-sm-7.col-12
						.mvideo-original__item.mt-1.wow.slideInRight(data-wow-offset="200")
							.mvideo-original__item-left
								.mvideo-original__item-left__step
									|01
							.mvideo-original__item-right
								.mvideo-original__item-right__text
									|Увеличить объем рассылок
						.mvideo-original__item.wow.slideInRight(data-wow-offset="220")
							.mvideo-original__item-left
								.mvideo-original__item-left__step
									|02
							.mvideo-original__item-right
								.mvideo-original__item-right__text
									|Увеличить продуктивность
						.mvideo-original__item.wow.slideInRight(data-wow-offset="240")
							.mvideo-original__item-left
								.mvideo-original__item-left__step
									|03
							.mvideo-original__item-right
								.mvideo-original__item-right__text
									|Вести мониторинг CRM активностей
									br
									|конкурентов на постоянной основе
						.mvideo-original__item.mb-0.wow.slideInRight(data-wow-offset="260")
							.mvideo-original__item-left
								.mvideo-original__item-left__step
									|04
							.mvideo-original__item-right
								.mvideo-original__item-right__text
									|Всестороннее развитие email 
									br
									|коммуникации

		section.mvideo-b-section.mvideo-section__carried
			.container
				.row
					.col-xl-4.col-lg-4.col-md-4.col-sm-5.col-12
						h2.mvideo-b__title.mvideo-b__title-black.wow.fadeInDown(data-wow-delay="1s")
							|Выполняемые
							br
							|задачи
					.col-xl-8.col-lg-8.col-md-8.col-sm-7.col-12
						ul.mvideo-b__list.mvideo-b__text-black.mvideo__text-carried.wow.fadeInDown(data-wow-delay="1s")
							li.mvideo-b__list-item &#8212; полное вовлечение (удалённая проектная команда)
							li.mvideo-b__list-item &#8212; решение задач в формате as soon as possible
							li.mvideo-b__list-item &#8212; поддержка 24/7
							li.mvideo-b__list-item &#8212; отлаженный механизм отрисовки, утверждения, вёрстки макетов
							li.mvideo-b__list-item &#8212; ежеквартальный обзор конкурентов (+ рекомендации)
							li.mvideo-b__list-item &#8212; разработки креативов
							li.mvideo-b__list-item &#8212; аналитические исследования
							li.mvideo-b__list-item &#8212; аналитические отчёты
							li.mvideo-b__list-item &#8212; A/B-тесты

						p.mvideo-b__text.mvideo-b__text-black.mvideo__text-carried.wow.fadeInDown(data-wow-delay="1s")
							|+ любые нестандартные запросы

		section.mvideo-b-section.mvideo-section__mailing
			img(src="img/mvideo-case/mvideo-mail-list-item.png", alt="", class="mvideo-section__mailing-picture", data-enllax-ratio=".2", data-enllax-type="foreground", data-enllax-direction="horizontal")
			.container
				.row
					.col-xl-4.col-lg-4.col-md-6.col-sm-5.col-12
						h2.mvideo-b__title.mvideo-b__title-black.mvideo-mailing__title.wow.fadeInDown(data-wow-delay="1s")
							|Рассылки
						p.mvideo-b__text.mvideo-b__text-black.wow.fadeInDown(data-wow-delay="1s")
							|Рыба текст: Было разработано
							br
							|более 30 шаблонов e-mail рассылок
							br
							|с разным типом контента.

		section.mvideo-b-section.mvideo-section__decision
			.mvideo-section-arrow__decision.wow.fadeInDown(data-wow-offset="200")
			.container
				.row
					.col-12
						h2.mvideo-b__title.mvideo-b__title-black.mvideo-decision__title.wow.fadeInDown(data-wow-delay="1s")
							|Решение WIM Agency
				.row
					.col-xl-5.col-lg-5.col-md-5.col-sm-5.col-12
						.mvideo-decision-item
							.mvideo-decision__picture
								img(src="img/mvideo-case/mvideo-solution-team.png", alt="", width="208px", height="80px")
							.mvideo-decision__text
								|Собрать для клиента 
								br
								|продакшн-команду из дизайнера, 
								br
								|верстальщика и менеджера.
					.col-xl-2.col-lg-2.col-md-2.col-sm-2
						.mvideo-decision__arrow.wow.fadeInDown(data-wow-delay="2s" data-wow-offset="200")
							img(src="img/mvideo-case/mvideo-solution-arr.png", alt="", width="50px", height="50px")
					.offset-xl-2.offset-lg-2.col-xl-3.col-lg-3.col-md-5.col-sm-5.col-12
						.mvideo-decision-item.wow.fadeInDown(data-wow-delay="1s" data-wow-offset="200")
							.mvideo-decision__picture
								img(src="img/mvideo-case/mvideo-solution-site.png", alt="", width="144px", height="104px")
							.mvideo-decision__text
								|Распределить обязанности, 
								br
								|прописать регламент и сроки выполнения работ.

		section.mvideo-b-section.mvideo-section__result
			.container
				.row
					.col-xl-4.col-lg-4.col-md-4.col-sm-5.col-12
						h2.mvideo-b__title.mvideo-b__title-white.wow.fadeInDown(data-wow-delay="1s")
							|Результат
					.col-xl-8.col-lg-8.col-md-8.col-sm-7.col-12
						.row
							.col-xl-6.col-lg-6.col-md-6.col-6
								.mvideo-result__item.wow.zoomIn(data-wow-offset="200")
									.mvideo-result__title
										|30%
									.mvideo-result__text
										|увеличиние роста выручки
										br
										|с канала
							.col-xl-6.col-lg-6.col-md-6.col-6
								.mvideo-result__item.wow.zoomIn(data-wow-offset="200")
									.mvideo-result__title
										|3-4
									.mvideo-result__text
										|количество изготовляемых
										br
										|макетов  в день
						.row
							.col-xl-6.col-lg-6.col-md-6.col-6
								.mvideo-result__item.wow.zoomIn(data-wow-offset="250")
									.mvideo-result__title
										|2 часа
									.mvideo-result__text
										|скорость вёрстки  
							.col-xl-6.col-lg-6.col-md-6.col-6
								.mvideo-result__item.wow.zoomIn(data-wow-offset="250")
									.mvideo-result__title
										|10 минут
									.mvideo-result__text
										|скорость ответа на запрос клиента
							p.mvideo-result__plus.wow.slideInLeft(data-wow-offset="280")
								|Оперативная разработка и внедрение новых механик
							p.mvideo-result__plus.wow.slideInLeft(data-wow-offset="300")
								|Масштабируемость и открытость к новым задачам


	+footer-text()
	include blocks/footer-service/footer-service