/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1920px) {
	
}
@media only screen and (max-width : 1600px) {
	
}

@media only screen and (max-width : 1366px) {
	.about__tag{
		padding: 32px 0 32px 100px;
	}
}

@media only screen and (max-width : 1280px) {
	.header-main-bg{
		right: -30%;
	}
	.about-item__img{
		margin-bottom: 17px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {
	.b-section-main{
		padding: 165px 0;
	}
	.mvideo-section-arrow{
		width: 70%;
		bottom: 269px;
	}
	.mvideo-section-arrow__decision{
		width: 80%;
	}
	.mvideo-header{
		height: 70vh;
	}
	//index page
	.header__title{
		font-size: 46px;
		padding-top: 80px;
	}
	.tabs__item__picture{
		width: 550px;
		height: 550px;
	}
	.case-item{
		background-size: cover;
	}
	.case-item, .case-item__more:after{
		min-height: 215px;
	}
	.case__text-more__icon{
		bottom: 80px;
	}
	.write-section{
		padding: 100px 0;
	}

	.about__tag{
		padding: 32px 0 32px 80px;
	}

	.sp-left-thumbnails{
		width: 200px;
		left: 35px;
	}

	.sp-slides-container {
		margin-left: 125px;
	}
}

@media only screen and (min-width : 992px) and (max-width : 1000px){
	.footer__subscribe-input{
		width: 180px;
	}
}

@media only screen and (max-width : 992px) {
	.mvideo-section-arrow{
		width: 66%;
	}
	.mvideo-section-arrow__decision{
		width: 70%;
	}
	.mvideo-result__title{
		font-size: 48px;
	}
	.mvideo-result__text{
		font-size: 16px;
	}

	//header
	.nav{
		display: none;
		&__mob{
			display: block;
			width: 25px;
			height: 23px;
			cursor: pointer;
			position: relative;
			display: block;
			top: 0;
			left: 0;
			&__item{
				background: #fff;
				display: block;
				width: 100%;
				height: 2px;
				margin-bottom: 7px;
				&--another{
					background: #181818;
				}
				&-close{
					color: #fff;
					font-weight: 300;
					text-transform: uppercase;
					font-size: 28px;
					display: none;
					line-height: 17px;
					&--another{
						color: #181818;
					}
				}
			}
		}
	}
	.show__nav__header{
		display: block;
		text-align: left;
		position: absolute;
		z-index: 1000;
		background: #181818;
		padding: 0 20px;
		top: 59px;
		left: 0;
		height: 45vh;
		width: 320px;
		padding: 0;
	}

	.nav__item{
		float: none;
		margin-right: 0;
		&:first-child{
			margin-top: 20px;
		}
	}
	.nav__link{
		display: block;
		padding: 0;
		font-size: 22px;
		padding: 6px 15px;
		margin-bottom: 20px;
		&-active{
			background-color: #a96fdc;
		}
		&-inner{
			color: #fff;
		}
	}
	.nav__link-active:after, .nav__link:after{
		display: none;
	}

	.tabs__item__point{
		display: none;
	}

	.footer__form__wrapper-social{
		margin-top: 25px;
		justify-content: flex-start;
	}

	.b-case__item-four{
		height: 350px;
	}
	.b-case__item-dn{
		display: block;
	}
	.b-case__item-db{
		display: none;
	}
	.about__parallax{
		display: none;
	}
	.about-item-dn{
		display: block;
	}
	.about-item-db{
		display: none;
	}

	.header-inner__title{
		font-size: 46px;
		line-height: 56px;
	}
	.owl-carousel .owl-item img{
		margin: 0 auto;
		text-align: center;
	}
	.main-slider__img{
		right: 0;
		bottom: 0;
		left: 0;
	}
	.header-wrapper{
		height: 600px;
	}
	.header-main{
		height: 72%;
	}
	.owl-carousel__inner{
		transform: scale(1);
	}
	.case__text-more__icon{
		bottom: 55px;
	}

	.sp-slide{
		width: 500px !important;
	}
	.my-slider-wrapper{
		padding: 60px 10px 0 10px;
	}
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.b-section-main{
		padding: 55px 0;
	}
	.b__title{
		font-size: 32px;
		line-height: 1.25;
		margin-bottom: 34px;
	}

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

	.mvideo-section-arrow{
		width: 70%;
	}
	.mvideo-original__item-left__step{
		margin-right: 20px;
	}
	.mvideo-original__item-right__text{
		font-size: 18px;
	}

	//index page
	.header-wrapper {
		height: 80vh;
	}
	.header__title {
		font-size: 40px;
	}
	.header-main-bg{
		right: -58%;
		top: 40px;
	}
	.owl-carousel__inner{
		transform: scale(1);
		margin: 2% auto 0 auto;
		width: 35%;
	}
	.owl-carousel .owl-item img{
		width: 100% !important;
	}
	
	.tabbed { width: 100%; }
    .tabbed > label { display: none }
    .tabs > div {
      width: 100%;
      border: none;
      padding: 50px 0;
      opacity: 1;
      position: relative;
      transform: none;
	  height: 420px;
	}
	.tabbed-p-0{
		padding: 0 0 !important;
	}
	.tabbed-section{
		height: auto;
		padding: 0 0;
	}
	.tabs__item-one > .tabs__item__picture{
		width: 300px; 
		height: 300px;
	}
	.tabs__item{
		margin: 0;
	}
	.tabs__item__picture {
		width: 370px;
		height: 370px;
	}
	.tabs__item__title{
		font-size: 32px;
	}
	.tabs__item__list-item, .tabs__item__text{
		font-size: 16px;
		opacity: .8;
		line-height: 1.5;
	}
	.tabs__item-two, .tabs__item-four{
		background-color: #181818;
	}
	.tabs__item-five, .tabs__item-five{
		margin-bottom: 0;
	}
	.tabbed-section{
		padding-bottom: 0;
	}
	.tabs__item__picture{
		top: 0;
	}
	.tabs__item.tabs__item-five{
		margin-bottom: 0;
	}
	.tabs__item-five > .tabs__item__picture{
		top: 60px;
	}
	.write-form{
		margin-bottom: 0;
	}
	.footer-bottom{
		padding: 25px 0 15px 0;
	}
	
	.footer__form__wrapper-social{
		justify-content: flex-start;
	}
	.parallax-element-1, .parallax-element-2{
		display: none;
	}
	.tabs__item__picture-one{
		top: 15px;
	}
	.main-slider{
		bottom: 0;
	}
	.show__nav__header{
		top: 60px;
	}
	.nav__mob{
		top: 6px;
	}
	.show__nav__header{
		top: 60px;
		left: 0;
		height: 320px;
		width: 320px;
		padding: 0;
	}
	.nav__item{
		float: none;
		margin-right: 0;
		&:first-child{
			margin-top: 20px;
		}
	}
	.nav__link{
		display: block;
		padding: 0;
		font-size: 22px;
		padding: 6px 15px;
		margin-bottom: 20px;
		&-active{
			background-color: #a96fdc;
		}
	}
	.nav__link-active:after, .nav__link:after{
		display: none;
	}
	.header-wrapper{
		height: 100vh
	}
	.tabs__item__picture-five{
		right: 0;
	}

	.about__title{
		font-size: 46px;
		line-height: 56px;
	}
	.about__subtitle{
		font-size: 32px;
		line-height: 40px;
	}
	.about__text, .about__tag__text{
		font-size: 16px;
		line-height: 24px;
	}
	.about__tag:before{
		left: -98px;
	}

	.lab__title{
		font-size: 46px;
		line-height: 56px;
		margin-bottom: 40px;
	}
	.lab-item{
		margin-bottom: 30px;
	}

	.header-wrapper{
		height: 600px;
	}
	.header-main{
		height: 66%;
	}

}

@media only screen and (max-width : 767px) {
	.d-mobile-none{
		display: none;
	}
	.about-item-dn{
		display: none;
	}
	.top-line__logo{
		width: 130px;
		height: 30px;
		margin-top: 32px;
		float: right;
		position: relative;
		z-index: 10;
	}
	.header-main-bg{
		top: -180px;
		right: -80% !important;
	}
	.nav__mob{
		top: 6px;
		z-index: 10;
	}
	.show__nav__header{
		top: 57px;
		left: 0;
		height: 290px;
		width: 420px;
		padding: 0;
	}
	.nav__item{
		float: none;
		margin-right: 0;
		&:first-child{
			margin-top: 20px;
		}
	}
	.nav__link{
		display: block;
		padding: 0;
		font-size: 22px;
		padding: 6px 15px;
		margin-bottom: 20px;
		&-active{
			background-color: #a96fdc;
		}
	}
	.nav__link-active:after, .nav__link:after{
		display: none;
	}
	.header-wrapper{
		height: 500px;
	}
	.header-main-bg{
		right: -180%;
	}
	.header__title{
		padding-top: 45px;
		font-size: 28px;
		line-height: 1.43;
		text-align: center;
		margin-bottom: 30px;
	}
	.header__btn{
		margin: 0 auto;
		display: block;
		max-width: 240px;
		padding: 16px 0;
	}
	.header-main{
		height: 60%;
	}
	.main-slider__img{
		position: relative;
	}
	.owl-carousel__inner{
		transform: none;
		width: 50%;
	}
	.owl-carousel .owl-item img{
		width: 100% !important;
		display: block;
		margin: 0 auto;
		height: auto;
		text-align: center;
	}
	.tabs>div{
		height: auto;
	}
	.tabs__item__wrap{
		margin-top: 0px;
	}
	.tabs__item__picture{
		height: 320px;
	}
	.tabs__item-five>.tabs__item__picture{
		top: 0;
	}
	.case__link{
		margin-bottom: 20px;
	}
	.case-item__more:after{
		display: none;
	}
	form.footer__form{
		margin-bottom: 0;
	}
	.write-form__input{
		margin-bottom: 40px;
		display: block;
		float: none;
		width: 100%;
	}
	.write-form__btn{
		width: 100%;
		margin-top: 0;
	}
	.footer__subscribe-text{
		display: block;
		float: none;
	}

	.about__picture-header{
		height: 365px;
		position: relative;
		margin-bottom: 24px;
	}
	.about-wrapper, .about__tag{
		padding-left: 0;
	}
	.inner-wrapper-project__case{
		padding-top: 0;
	}
	.about-p-0{
		padding: 0;
	}

	.about__title{
		font-size: 28px;
		line-height: 40px;
	}
	.about__subtitle{
		font-size: 24px;
		line-height: 32px;
	}
	.about__tag:before{
		left: -100px;
	}
	.about-item__img{
		width: 280px;
		height: 280px;
		margin-bottom: 17px;
	}

	.lab__title{
		font-size: 28px;
		line-height: 40px;
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.lab-item__title{
		margin-bottom: 15px;
	}


	.header-inner{
		height: 364px;
		margin-bottom: 30px;
	}
	.header-inner__title{
		font-size: 28px;
		line-height: 40px;
		padding: 25px 0 50px 0;
	}
	.lab-inner__article-img__text{
		margin-left: 0;
	}

	.contact-bg{
		width: 100%;
		height: 400px;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1000;
		background: #232323;
	}
	.contact-info{
		left: 15px;
		top: 100px;
	}
	.contact-info__title{
		font-size: 28px;
		line-height: 40px;
		margin-bottom: 20px;
	}


	.sp-thumbnails{
		width: 100% !important;
	}
	.sp-left-thumbnails{
		width: 100%;
		left: 35px;
		height: 150px !important;
	}
	.sp-thumbnail-container.sp-selected-thumbnail{
		margin-right: 5px;
	}
	.sp-thumbnail-container{
		margin-right: 5px;
		margin-bottom: 0;
	}
	.sp-slides-container{
		width: 480px;
		top: 120px;
		margin-left: 0;
	}
	.modal_close{
		background: url(../img/svg-icons/close-popup-mobile.svg) no-repeat;
		width: 26px;
		height: 26px;
		top: 10px;
		right: 23px;
	}
	.sp-vertical .sp-arrows{
		margin-left: 0;
		left: -8%;
	}
	.sp-slide__name{
		font-size: 38px;
	}
	.sp-slide__position, .sp-slide__text{
		font-size: 14px;
		margin-bottom: 15px;
	}
	.sp-thumbnail-container.sp-selected-thumbnail{
		width: 70px !important;
		height: 70px !important;
	}
	#my-slider .sp-thumbnail-image-container{
		width: 70px;
		height: 70px;
	}
}

@media only screen and (max-width : 600px){
	.mvideo__title__block{
		top: 20%;
	}
	.mvideo__title{
		font-size: 38px;
	}
	.mvideo-b-section{
		padding: 50px 0;
	}
	.mvideo-b__text{
		margin-bottom: 50px;
	}
	.mvideo-section-arrow, .mvideo-section-arrow__decision{
		display: none;
	}
	.mvideo-client__item{
		margin-bottom: 30px;
	}
	.mvideo-client__text{
		font-size: 16px;
	}
	.mvideo-client__img{
		margin-bottom: 10px;
	}
	.mvideo-original__item{
		margin-bottom: 30px;
	}
	.mvideo-original__item-left__step{
		margin-right: 14px;
	}
	.mvideo-original__item-right__text{
		font-size: 13px;
	}
	.mvideo-section__mailing-picture{
		display: none;
	}
	.mvideo-section__mailing{
		min-height: 250px;
	}
	.mvideo-decision__title{
		margin-bottom: 30px;
	}
	.mvideo-decision__arrow{
		display: none;
	}
	.mvideo-result__item{
		margin-bottom: 30px;
	}
	.mvideo-decision__picture{
		display: none;
	}
	.mvideo-decision-item{
		margin-bottom: 30px;
	}
	.mvideo-result__text{
		padding-left: 0;
	}
	.mvideo-result__plus{
		padding: 0 15px;
	}
	.mvideo-result__title{
		font-size: 33px;
		margin-bottom: 10px;
	}


	form.footer__form {
		margin-bottom: 30px;
	}
	.footer__subscribe-input{
		width: 150px;
	}
	.footer__subscribe-btn{
		opacity: 1;
	}
	.footer__phone{
		line-height: 2.2;
	}
	.footer__form__wrapper-social{
		justify-content: flex-start;
	}
	.footer__email{
		justify-content: flex-end;
	}
	.footer__subscribe-text{
		font-size: 15px;
	}

	.header-main-bg{
		top: -180px;
		right: -80%;
	}
	.header__title{
		font-size: 28px;
		margin-bottom: 32px;
	}
	.tabs__item__wrap{
		margin-top: 320px;
	}
	.owl-carousel .owl-item img{
		width: 100% !important;
		height: auto !important;
	}
	.header__btn{
		display: block;
	}
	.show__nav__header{
		height: 40vh;
	}
	.footer__form__wrapper-social{
		margin-top: 0;
	}
	.owl-carousel__inner{
		width: 40%;
	}

	.sp-left-thumbnails{
		height: 200px !important;
	}
	.sp-slides-container{
		top: 250px;
	}
}

@media only screen and (max-width : 575px){
	.footer-top{
		text-align: center;
	}
	.footer__subscribe-text{
		text-align: center;
	}
	.footer__form__wrapper-social{
		display: block;
	}
	.footer__social__link{
		display: inline-block;
		text-align: center;
		float: none;
		line-height: 38px;
	}
	.footer__email{
		display: block;
		text-align: center;
	}
	.footer__phone{
		display: block;
		text-align: center;
	}
	.footer__copy{
		text-align: center;
	}
	.footer__form__wrapper{
		text-align: center;
	}
	.footer__social__link-bottom {
		display: inline-block;
		float: none;
		margin-bottom: 15px;
	}

	.sp-slide__name {
		font-size: 18px;
		margin-bottom: 20px;
	}
	.sp-slide__position, .sp-slide__text{
		font-size: 12px;
		margin-bottom: 12px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.d-mobile-none{
		display: none;
	}
	//index page
	.header-main-bg{
		top: -200px;
		right: -180% !important;
	}
	.sp-slides-container{
		width: 320px;
	}
	.sp-slide{
		width: 320px !important;
	}
	
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.header-main{
		height: 60%;
	}
	.header-main-bg{
		top: -200px;
		right: -200% !important;
	}
	.show__nav__header{
		height: 50vh;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.header-main-bg{
		right: -30%;
	}
}

 /* Large Devices, Wide Screens */
 @media only screen and (min-width : 1024px) and (max-width : 1092px){
	.header__title{
		font-size: 48px;
	}
 }

@media only screen and (min-width : 1200px) {
	.header__title{
		font-size: 60px;
	}
	.header-main-bg{
		right: -15%;
	}
}

@media only screen and (min-width : 1366px) {
	.header-main-bg{
		right: -10%;
	}
}

@media only screen and (min-width : 1440px){
	.owl-carousel{
		margin-top: 0px;
	}
}

@media only screen and (min-width : 1600px) {
	.header-main-bg{
		top: 0;
		right: 0;
	}
	.mvideo-header{
		background-size: cover;
	}
	.mvideo-section-arrow{
		width: 64%;
	}
}

@media only screen and (min-width : 1680px){
	
}

@media only screen and (min-width : 1920px){
	.mvideo-section-arrow{
		width: 62%;
	}
}


@media only screen and  (min-height: 900px ) {
	.owl-carousel{
		margin-top: 20px;
	}
}

@media only screen and  (min-height: 1080px ) {
	.owl-carousel{
		margin-top: 35px;
	}
}