/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1920px) {
	
}
@media only screen and (max-width : 1600px) {
	
}

@media only screen and (max-width : 1280px) {
	.header-main-bg{
		right: -30%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {
	.b-section-main{
		padding: 165px 0;
	}
	.mvideo-section-arrow{
		width: 70%;
		bottom: 269px;
	}
	.mvideo-section-arrow__decision{
		width: 80%;
	}
	.mvideo-header{
		height: 70vh;
	}
	//index page
	.header__title{
		font-size: 45px;
	}
	.tabs__item__picture{
		width: 550px;
		height: 550px;
	}
	.case-item{
		background-size: cover;
	}
	.case-item, .case-item__more:after{
		min-height: 215px;
	}
	.case__text-more__icon{
		bottom: 80px;
	}
}
@media only screen and (max-width : 992px) {
	.mvideo-section-arrow{
		width: 66%;
	}
	.mvideo-section-arrow__decision{
		width: 70%;
	}
	.mvideo-result__title{
		font-size: 48px;
	}
	.mvideo-result__text{
		font-size: 16px;
	}

	//header
	.nav{
		display: none;
		&__mob{
			display: block;
			width: 25px;
			height: 23px;
			cursor: pointer;
			position: relative;
			display: block;
			top: 0;
			left: 0;
			&__item{
				background: #fff;
				display: block;
				width: 100%;
				height: 2px;
				margin-bottom: 4px;
				&-close{
					color: #fff;
					font-weight: 300;
					text-transform: uppercase;
					font-size: 28px;
					display: none;
					line-height: 17px;
				}
			}
		}
	}
	.show__nav__header{
		display: block;
		text-align: left;
		position: absolute;
		/* right: 0; */
		z-index: 1000;
		background: #181818;
		padding: 0px 20px;
		top: 45px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.b-section-main{
		padding: 55px 0;
	}
	.b__title{
		font-size: 32px;
		line-height: 1.25;
		margin-bottom: 34px;
	}

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

	.mvideo-section-arrow{
		width: 70%;
	}
	.mvideo-original__item-left__step{
		margin-right: 20px;
	}
	.mvideo-original__item-right__text{
		font-size: 18px;
	}

	//index page
	.header-wrapper {
		height: 80vh;
	}
	.header__title {
		font-size: 40px;
	}
	.header-main-bg{
		right: -70%;
	}
	.owl-carousel__inner{
		transform: scale(1);
	}
	.owl-carousel__inner{
		width: 70%;
		margin: 0 auto;
	}
	.owl-carousel .owl-item img{
		width: 85% !important;
	}
	.tabs__item__point{
		display: none;
	}
	.tabbed { width: 100%; }
    .tabbed > label { display: none }
    .tabs > div {
      width: 100%;
      border: none;
      padding: 50px 0;
      opacity: 1;
      position: relative;
      transform: none;
	  height: 420px;
	}
	.tabbed-p-0{
		padding: 0 0 !important;
	}
	.tabbed-section{
		height: auto;
		padding: 0 0;
	}
	.tabs__item-one > .tabs__item__picture{
		width: 300px; 
		height: 300px;
	}
	.tabs__item{
		margin: 0;
	}
	.tabs__item__picture {
		width: 370px;
		height: 370px;
	}
	.tabs__item__title{
		font-size: 32px;
	}
	.tabs__item__list-item, .tabs__item__text{
		font-size: 16px;
		opacity: .8;
		line-height: 1.5;
	}
	.tabs__item-two, .tabs__item-four{
		background-color: #181818;
	}
	.tabs__item-five, .tabs__item-five{
		margin-bottom: 0;
	}
	.tabbed-section{
		padding-bottom: 0;
	}
	.tabs__item__picture{
		top: 0;
	}
	.tabs__item.tabs__item-five{
		margin-bottom: 0;
	}
	.tabs__item-five > .tabs__item__picture{
		top: 60px;
	}
	.write-form{
		margin-bottom: 0;
	}
	.footer-bottom{
		padding: 25px 0 15px 0;
	}
	.footer__form__wrapper-social{
		margin-top: 25px;
	}
	.footer__form__wrapper-social{
		justify-content: flex-start;
	}

}

@media only screen and (max-width : 600px){
	.mvideo__title__block{
		top: 20%;
	}
	.mvideo__title{
		font-size: 38px;
	}
	.mvideo-b-section{
		padding: 50px 0;
	}
	.mvideo-b__text{
		margin-bottom: 50px;
	}
	.mvideo-section-arrow, .mvideo-section-arrow__decision{
		display: none;
	}
	.mvideo-client__item{
		margin-bottom: 30px;
	}
	.mvideo-client__text{
		font-size: 16px;
	}
	.mvideo-client__img{
		margin-bottom: 10px;
	}
	.mvideo-original__item{
		margin-bottom: 30px;
	}
	.mvideo-original__item-left__step{
		margin-right: 14px;
	}
	.mvideo-original__item-right__text{
		font-size: 13px;
	}
	.mvideo-section__mailing-picture{
		display: none;
	}
	.mvideo-section__mailing{
		min-height: 250px;
	}
	.mvideo-decision__title{
		margin-bottom: 30px;
	}
	.mvideo-decision__arrow{
		display: none;
	}
	.mvideo-result__item{
		margin-bottom: 30px;
	}
	.mvideo-decision__picture{
		display: none;
	}
	.mvideo-decision-item{
		margin-bottom: 30px;
	}
	.mvideo-result__text{
		padding-left: 0;
	}
	.mvideo-result__plus{
		padding: 0 15px;
	}
	.mvideo-result__title{
		font-size: 33px;
		margin-bottom: 10px;
	}


	form.footer__form {
		margin-bottom: 30px;
	}
	.footer__subscribe-input{
		width: 150px;
	}
	.footer__subscribe-btn{
		opacity: 1;
	}
	.footer__phone{
		line-height: 2.2;
	}
	.footer__form__wrapper-social{
		justify-content: flex-start;
	}
	.footer__email{
		justify-content: flex-start;
	}
	.footer__subscribe-text{
		font-size: 15px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.d-mobile-none{
		display: none;
	}
	//index page
	.top-line__logo{
		width: 130px;
		height: 30px;
		margin-top: 32px;
		float: right;
	}
	.header-main-bg{
		top: -200px;
	}
	.nav__mob{
		top: 6px;
	}
	.show__nav__header{
		top: 57px;
		left: 0;
		height: 100vh;
		width: 420px;
		padding: 0;
	}
	.nav__item{
		float: none;
		margin-right: 0;
		&:first-child{
			margin-top: 20px;
		}
	}
	.nav__link{
		display: block;
		padding: 0;
		font-size: 22px;
		padding: 6px 15px;
		margin-bottom: 20px;
		&-active{
			background-color: #a96fdc;
		}
	}
	.nav__link-active:after, .nav__link:after{
		display: none;
	}
	.header-wrapper{
		height: 100vh;
	}
	.header-main-bg{
		right: -180%;
	}
	.header__title{
		padding-top: 45px;
		font-size: 28px;
		text-align: center;
	}
	.header__btn{
		margin: 0 10px;
		display: block;
	}
	.header-main{
		height: 72%;
	}
	.main-slider__img{
		position: relative;
	}
	.owl-carousel__inner{
		transform: none;
		width: 75%;
	}
	.owl-carousel .owl-item img{
		width: 75% !important;
		display: block;
		margin: 0 auto;
		height: 66px;
		text-align: center;
	}
	.tabs>div{
		height: auto;
	}
	.tabs__item__wrap{
		margin-top: 320px;
	}
	.tabs__item__picture{
		height: 320px;
	}
	.tabs__item-five>.tabs__item__picture{
		top: 0;
	}
	.case__link{
		margin-bottom: 20px;
	}
	.case-item__more:after{
		display: none;
	}
	form.footer__form{
		margin-bottom: 0;
	}
	.write-form__input{
		margin-bottom: 40px;
		display: block;
		float: none;
		width: 100%;
	}
	.write-form__btn{
		width: 100%;
		margin-top: 0;
	}
	.footer__subscribe-text{
		display: block;
		float: none;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.header-main{
		height: 68%;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

@media only screen and (min-width : 1600px) {
	.header-main-bg{
		top: 0;
	}
	.mvideo-header{
		background-size: cover;
	}
	.mvideo-section-arrow{
		width: 64%;
	}
}
@media only screen and (min-width : 1920px){
	.mvideo-section-arrow{
		width: 62%;
	}
}