.b-case{
    &__title{
        margin-bottom: 37px;
    }
    &__link{
        display: block;
        &:hover{
            text-decoration: none;
            transition: .7s;
            .b-case__download{
                display: block;
            }
        }
    }
    &__item{
        position: relative;
        display: flex;
        align-items: flex-end;
        margin-bottom: 34px;
        background-size: cover;
        &-wrapper{
            position: relative;
            @include clearfix;
            width: 100%;
        }
        &-one{
            background: url(../img/case-image/av.jpg) no-repeat;
            background-size: 350px 350px;
            height: 350px;
        }
        &-two{
            background: url(../img/case-image/mr_doors.jpg) no-repeat;
            background-size: 350px 350px;
            height: 350px;
        }
        &-three{
            background: url(../img/case-image/mvideo.jpg) no-repeat;
            background-size: 350px 350px;
            height: 350px;
        }
        &-four{
            background: url(../img/case-image/airlines.jpg) no-repeat;
            background-size: 732px 732px;
            height: 732px;
        }
        &-five{
            background: url(../img/case-image/su_22.jpg) no-repeat;
            background-size: 350px 350px;
            height: 350px;
        }
        &-six{
            background: url(../img/case-image/goods.jpg) no-repeat;
            background-size: 350px 350px;
            height: 350px;
        }
        &-seven{
            background: url(../img/case-image/iqos.jpg) no-repeat;
            background-size: 350px 350px;
            height: 350px;
        }
        &-eight{
            background: url(../img/case-image/utair.jpg) no-repeat;
            background-size: 350px 350px;
            height: 350px;
        }
        &-nine{
            background: url(../img/case-image/airlines.jpg) no-repeat;
            background-size: 350px 350px;
            height: 350px;
        }
    }
    &__text{
        font-size: 18px;
        letter-spacing: .8px;
        color: #fff;
        padding: 6.5px 24px;
        background-color: #181818;
        text-align: center;
    }
    &__download{
        width: 48px;
        height: 40px;
        background-color: #a96fdc;
        position: relative;
        text-align: center;
        line-height: 40px;
        display: none;
        img{
            width: 17px;
            height: 21px;
            fill: #ffffff;
        }
    }
}